In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("Dataset2.csv")
print(df.head())
print(df.columns)

   Unnamed: 0                 Date                  Day  High Temp (°F)  \
0           0  2016-04-01 00:00:00  2016-04-01 00:00:00            78.1
1           1  2016-04-02 00:00:00  2016-04-02 00:00:00            55.0
2           2  2016-04-03 00:00:00  2016-04-03 00:00:00            39.9
3           3  2016-04-04 00:00:00  2016-04-04 00:00:00            44.1
4           4  2016-04-05 00:00:00  2016-04-05 00:00:00            42.1

   Low Temp (°F) Precipitation  Brooklyn Bridge  Manhattan Bridge  \
0           66.0          0.01           1704.0              3126
1           48.9          0.15            827.0              1646
2           34.0          0.09            526.0              1232
3           33.1      0.47 (S)            521.0              1067
4           26.1             0           1416.0              2617

   Williamsburg Bridge  Queensboro Bridge  Total
0               4115.0             2552.0  11497
1               2565.0             1884.0   6922
2               1695.0             1306.0   4759
3               1440.0             1307.0   4335
4               3081.0             2357.0   9471
Index(['Unnamed: 0', 'Date', 'Day', 'High Temp (°F)', 'Low Temp (°F)',
       'Precipitation', 'Brooklyn Bridge', 'Manhattan Bridge',
       'Williamsburg Bridge', 'Queensboro Bridge', 'Total'],
      dtype='object')

In [12]:
print(df.corr())

                     Unnamed: 0  High Temp (°F)  Low Temp (°F)  \
Unnamed: 0             1.000000        0.070144       0.055420
High Temp (°F)         0.070144        1.000000       0.823853
Low Temp (°F)          0.055420        0.823853       1.000000
Brooklyn Bridge        0.100557        0.739377       0.464550
Manhattan Bridge       0.090508        0.720175       0.465097
Williamsburg Bridge    0.096328        0.764336       0.534212
Queensboro Bridge      0.093006        0.727825       0.475725
Total                  0.095156        0.743344       0.492124

                     Brooklyn Bridge  Manhattan Bridge  Williamsburg Bridge  \
Unnamed: 0                  0.100557          0.090508             0.096328
High Temp (°F)              0.739377          0.720175             0.764336
Low Temp (°F)               0.464550          0.465097             0.534212
Brooklyn Bridge             1.000000          0.983148             0.980463
Manhattan Bridge            0.983148          1.000000             0.989805
Williamsburg Bridge         0.980463          0.989805             1.000000
Queensboro Bridge           0.976991          0.985867             0.988852
Total                       0.989339          0.996323             0.996639

                     Queensboro Bridge     Total
Unnamed: 0                    0.093006  0.095156
High Temp (°F)                0.727825  0.743344
Low Temp (°F)                 0.475725  0.492124
Brooklyn Bridge               0.976991  0.989339
Manhattan Bridge              0.985867  0.996323
Williamsburg Bridge           0.988852  0.996639
Queensboro Bridge             1.000000  0.993391
Total                         0.993391  1.000000

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18388\4212406737.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(df.corr())

In [15]:
df_cleaned=df.drop(["Date","Day"],axis=1)
df_cleaned.head()

,Unnamed: 0,High Temp (°F),Low Temp (°F),Precipitation,Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
0,0,78.1,66.0,0.01,1704.0,3126,4115.0,2552.0,11497
1,1,55.0,48.9,0.15,827.0,1646,2565.0,1884.0,6922
2,2,39.9,34.0,0.09,526.0,1232,1695.0,1306.0,4759
3,3,44.1,33.1,0.47 (S),521.0,1067,1440.0,1307.0,4335
4,4,42.1,26.1,0,1416.0,2617,3081.0,2357.0,9471

In [16]:
df_cleaned.corr()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_18388\1367570080.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_cleaned.corr()

,Unnamed: 0,High Temp (°F),Low Temp (°F),Brooklyn Bridge,Manhattan Bridge,Williamsburg Bridge,Queensboro Bridge,Total
Unnamed: 0,1.000000,0.070144,0.055420,0.100557,0.090508,0.096328,0.093006,0.095156
High Temp (°F),0.070144,1.000000,0.823853,0.739377,0.720175,0.764336,0.727825,0.743344
Low Temp (°F),0.055420,0.823853,1.000000,0.464550,0.465097,0.534212,0.475725,0.492124
Brooklyn Bridge,0.100557,0.739377,0.464550,1.000000,0.983148,0.980463,0.976991,0.989339
Manhattan Bridge,0.090508,0.720175,0.465097,0.983148,1.000000,0.989805,0.985867,0.996323
Williamsburg Bridge,0.096328,0.764336,0.534212,0.980463,0.989805,1.000000,0.988852,0.996639
Queensboro Bridge,0.093006,0.727825,0.475725,0.976991,0.985867,0.988852,1.000000,0.993391
Total,0.095156,0.743344,0.492124,0.989339,0.996323,0.996639,0.993391,1.000000

* New York'ta farklı köprülerden geçen bisikletçilerin sayısı arasında geçiş için 1'e yakın değerde korelasyon mevcuttur. Aralarında yüksek geçerlilikte doğru orantı vardır.